img{

    width: 75px;
    height: 75px;
}

.container{
    width: 1200px;
    height: 500px;
}

img#bg-image{
    z-index: 1;
    position: absolute;
    width: 1200px;
    height: 500px;
}



 .horses{
    position : relative;
    margin-bottom: 1%;
    z-index: 2;

}

/*#horse2{
    position : relative;

    z-index: 20;
    margin-top: 1% !important;

}
#horse3{
    position : relative;

    z-index: 20;
    margin-top: 1% !important;
}
#horse4{
    position : relative;

    z-index: 20;
    margin-top: 1% !important;
} */

